@{
    ViewData["Title"] = "Index";
}

<h1
    style=" justify-content: center;  display: flex;  border: 1px solid black; padding: 5px; font-size: 35px; background-color: azure; border-radius: 7px; box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5); ; ">
    HAKKIMDA SAYFASI</h1>
<div class="container">
    <div class="row justify-content-center ">
        @foreach (var abouts in ViewBag.AboutList)
        {
            <div class="col-md-4">
                <div class="card mb-4" style="width: 32rem;"> <!-- Increased width here -->
                    <img src="@abouts.Resim" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@abouts.AdSoyad</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@abouts.Aciklama</li>
                    </ul>
                    <h5 class="card-title" style="padding-left: 18px;">Staj Yaptığım Yerler</h5>
                    <ul class="list-group list-group-flush">
                        
                        <li class="list-group-item">@abouts.StajYer</li>
                        <li class="list-group-item">Google A.Ş</li>
                        <li class="list-group-item">Apple A.Ş</li>
                    </ul>
                    <div class="card-body">
                        <a href="@abouts.Link" class="card-link">Github</a>
                        <a href="https://www.linkedin.com/in/sameetonr/" class="card-link">linkedin</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
