@model AboutModel
@{
    ViewData["Title"] = "Index";
}

<h1
    style=" justify-content: center;  display: flex;  border: 1px solid black; padding: 5px; font-size: 35px; background-color: azure; border-radius: 7px; box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5); ; ">
    HAKKIMDA SAYFASI</h1>
<div class="container">
    <div class="row justify-content-center ">

        <div class="col-md-4">
            <div class="card mb-4" style="width: 32rem;"> <!-- Increased width here -->
                <img src="@Model.Resim" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.AdSoyad</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Model.Aciklama</li>
                </ul>
                <h5 class="card-title" style="padding-left: 18px;">Staj Yaptığım Yerler</h5>
                <ul class="list-group list-group-flush">
                    @foreach (var x in Model.Staj)
                    {
                        <li class="list-group-item">@x.StajName</li>
                    }


                </ul>
                <div class="card-body">
                    @foreach (var item in Model.Links)
                    {
                        <a href="@item.LinkUrl" class="card-link">@item.LinkName</a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
